* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.menu {
    text-align: center;
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
    background-color: #BE71F0;
    height: 345vh;
}

.perfil{
    clip-path: circle(50%);
    width: 200px;
    height: 200px;
}

.redes{
    width: 5rem;
}

.tec{
    width: 5rem;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
    padding: 0;
}

#sobreMi{
    background-color: #719EF0;
    padding: 0;

}

.shuncos{
    width: 10rem;

}

.card{
    border-style: solid;
    text-align: center;
}

#proyectos{
    background-color: #7176F0;
    padding: 0;

}

#cursos{
    background-color: #9571F0;

}

.constancias{
    justify-items: center;
    justify-content: space-evenly;
    
}

.diploma{
    width: 15rem;
}